<?xml version="1.0"?>
<model>
  <name>aruco_landing_pad</name>
  <version>1.0</version>
  <sdf version='1.9'>model.sdf</sdf>
  <author>
    <name>Quads Project</name>
    <email></email>
  </author>
  <description>
    ArUco landing pad: DICT_5X5_50, marker ID 0, 200 mm marker on a 280 mm
    plate (40 mm white quiet zone). Used as the precision-landing target.
  </description>
</model>
